@import "tailwindcss";

/* Paleta baseada na inspiração da imagem */
:root {
  --background: #FDF9F1;            /* fundo claro, tom areia suave */
  --foreground: #2B2B2B;            /* texto escuro */
  
  --accent-primary: #6D9A8B;        /* verde acinzentado */
  --accent-secondary: #D8902E;      /* mostarda queimado */
  --accent-tertiary: #D5A867;       /* bege areia */
  --neutral-soft: #A08760;          /* marrom claro */
}

body {
  scroll-behavior: smooth; /* Rolagem suave */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ajuste para o offset da navbar fixa ao navegar por ID */
section[id] {
  scroll-margin-top: 4rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2C2C2C;       /* fundo escuro */
    --foreground: #F1F1F1;       /* texto claro */
  }
}
